<header class="page-header">
  <div class="wrapper repel">
    <a href="/">Aktion Solidarisch</a>

    <nav class="page-nav">
      <button type="button" class="btn" data-nav-toggle aria-expanded="false">
        Toggle
      </button>
      <ul>
        <li><a href="/aktion">Aktion</a></li>
        <li><a href="/ueber-uns">Über Uns</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>