<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - {{ meta.title }}</title>

  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="site">
  {% include "page-header.njk" %}

  <main class="wrapper">
    {% block mainContent %}
      {{ content | safe }}
    {% endblock %}
  </main>

  {% include "page-footer.njk" %}

  <script src="/assets/js/main.js"></script>
</body>
</html>